<section class="main-section">
  <div class="container">
    <div class="row" *ngIf="updatMessage !== undefined">
        <div class="col">
          <alert type="success">
            <strong>!</strong> {{ updatMessage }}
          </alert>
        </div>
      </div>
    <div class="row">
      <div class='col-md-4 light-grey'>
        <label>Contacts</label>
      </div>
      <div class="col-md-8">
        <div class="login-box well">
          <!-- angular table for phone book information-->
          Comming Soon
        </div>
      </div>
    </div>
  </div>
</section>
