<section class="main-section">
  <div class="container">
    <div class="row" *ngIf="updatMessage !== undefined">
        <div class="col">
          <alert type="success">
            <strong>!</strong> {{ updatMessage }}
          </alert>
        </div>
      </div>
    <div class="row">
      <div class='col-md-3'></div>
      <div class="col-md-6">
        <div class="login-box well">
          <form [formGroup]="profileForm" (ngSubmit)="profileSubmit()">
            <div class="form-group">
              <label for="firstname">First Name :</label>
              <input id="firstname" value=''[(ngModel)]="userObj.firstname" placeholder="First Name" type="text" class="form-control" formControlName="firstname" />
            </div>
            <div class="form-group">
              <label for="lastname">Last Name :</label>
              <input id="lastname" value=''[(ngModel)]="userObj.lastname" placeholder="Last Name" type="text" class="form-control" formControlName="lastname" />
            </div>
            <div class="form-group">
              <label for="dob">Date of Birth : </label>
              <input id="dob" value='' [(ngModel)]="userObj.dob" placeholder="Date of Birth" type="text" class="form-control" formControlName="dob" />
            </div>
            <div class="form-group">
              <label for="mobile">Mobile : </label>
              <input id="mobile" value='' [(ngModel)]="userObj.mobile" placeholder="Mobile" type="text" class="form-control" formControlName="mobile" />
            </div>
            <div class="form-group">
              <label for="landline">Landline : </label>
              <input id="landline" value='' [(ngModel)]="userObj.landline" placeholder="Landline" type="text" class="form-control" formControlName="landline" />
            </div>
            <div class="form-group">
              <label for="street">Street : </label>
              <input id="street" value='' [(ngModel)]="userObj.street" placeholder="Street" type="text" class="form-control" formControlName="street" />
            </div>
            <div class="form-group">
              <label for="state">State : </label>
              <input id="state" value='' [(ngModel)]="userObj.state" placeholder="state" type="text" class="form-control" formControlName="state" />
            </div>
            <div class="form-group">
              <label for="country">Country : </label>
              <input id="country" value='' [(ngModel)]="userObj.country" placeholder="Country" type="text" class="form-control" formControlName="country" />
            </div>
            <div class="form-group">
              <label for="pincode">Pin Code : </label>
              <input id="pincode" value='' [(ngModel)]="userObj.pincode" placeholder="Pin Code" type="text" class="form-control" formControlName="pincode" />
            </div>
            <div class="form-group">
                <button type="submit" [disabled]='!profileForm.valid' class="btn btn-primary m-t-md">Confirm</button>
                <button type="button" [disabled]='!profileForm.valid' class="btn btn-primary m-t-md">Cancel</button>
            </div>

          </form>
        </div>
      </div>
      <div class='col-md-3'></div>
    </div>
  </div>
</section>
